
/* html {
    background: red;
    background: linear-gradient( to bottom, red, blue), url(noise.svg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(5px);
} */

body::before,
body::after {
	position: absolute;
	left: 0;
	top: 0;
	content: '';
	width: 100%;
	height: 100%;
	z-index: -1;
	mix-blend-mode: multiply; 
}

body::before {
	background: #000;
	filter: url(#noiseFilter);
}

body::after {
    background: url(/Main_Menu-Nighttime.png) center center no-repeat;
    background-size: cover;
    filter: contrast(100%) brightness(150%);
    /* For some reason changing it from background to background-image style doesn't apply the noise svg*/
}